.pagenation {
  @include FLEX(center, center);
  @include BORDER(top, var(--color-contrastyE5));
  @include MG-IP1(40, 0, 0, 0);
  height: 60px;
  button {
    width: 32px;
    height: 32px;
    transition: all 0.2s;
    border-radius: 4px;
    &.num {
      @include FONT(12, 400, var(--color-contrasty3));
      @include BORDER(full, transparent);
      background-color: transparent;
    }
    &.prev,
    &.next {
      @include FONT(0);
      @include BORDER(full, var(--color-contrastyE0));
      @include BG(center);
      background-color: var(--base-white);
    }
    &.prev {
      @include MG-IP1(0, 12, 0, 0);
      background-image: url($url-images-ico + "ico_page_prev.png");
    }
    &.next {
      @include MG-IP1(0, 0, 0, 12);
      background-image: url($url-images-ico + "ico_page_next.png");
    }
    &.active,
    &:hover {
      border-color: var(--color-contrasty3);
      background-color: var(--base-white);
    }
  }
}
