.select {
  @include MG-IP1(0, 0, 20, 0);
  select {
    @include FONT(16, 500);
    @include PD-IP1(0, 30, 0, 10);
    @include BG(right 10px center);
    height: 40px;
    border-radius: 4px;
    font-family: inherit;
    cursor: pointer;
    background-image: url($url-images + "select-arrow.png");
  }
}
