.motion {
  @include PD-IP2(60, 30);
  min-height: 100vh;
  &__box {
    .slider {
      @include FLEX(center, center);
      height: 50vh;
      .slide {
        @include FLEX(center, center);
        @include FONT(10vmin, 500, var(--base-white));
        background-color: var(--color-green);
        width: 50vmin;
        height: 50vmin;
        border-radius: 10px;
      }
    }
  }
  &__box + &__box {
    @include MG-IP1(250, 0, 0, 0);
  }
  &__list {
    @include FLEX(null, null, null, wrap);
    gap: 30px;
    li {
      @include PD-IP2(20, 20);
      flex: 0 1 calc(50% - 15px);
      height: 200px;
      border-radius: 10px;
      &:nth-of-type(1) {
        background-color: skyblue;
      }
      &:nth-of-type(2) {
        background-color: var(--color-red);
      }
      &:nth-of-type(3) {
        background-color: var(--color-blue);
      }
      &:nth-of-type(4) {
        background-color: var(--color-green);
      }
    }
  }
}
